name: "Trigger Merge by Label"
on:
  pull_request_target:
    types: [labeled]

jobs:
  bors-merge:
    runs-on: ubuntu-latest
    if: contains(github.event.pull_request.labels.*.name, 'automerge-bors')
    steps:
      - name: Create comment
        uses: peter-evans/create-or-update-comment@v2
        with:
          issue-number: ${{ github.event.number }}
          body: bors merge
